<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{testePage.title}">Teste Page</title>
</head>
<body>
    <h1 th:text="#{testePage.heading}">List of Usuarios</h1>
    <ul>
        <!-- Loop through the list of usuarios and display their names and emails -->
        <li th:each="usuario : ${usuarios}">
            <p><span th:text="#{testePage.usernameLabel}">Username:</span> <span th:text="${usuario.username}"></span></p>
            <p><span th:text="#{testePage.emailLabel}">Email:</span> <span th:text="${usuario.email}"></span></p>
        </li>
    </ul>
</body>
</html>
