<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{companyInfo.title}">Company Information</title>
</head>
<body>
    <h1 th:text="#{companyInfo.heading}">Company Information</h1>
    <p th:text="#{companyInfo.usernameLabel}">Username: <span th:text="${user.username}"></span></p>
    <p th:text="#{companyInfo.emailLabel}">Email: <span th:text="${user.email}"></span></p>
    <p th:text="#{companyInfo.cpfCnpjLabel}">CPF/CNPJ: <span th:text="${user.cpfCnpj}"></span></p>
    <p th:text="#{companyInfo.cityLabel}">City: <span th:text="${locadora.cidade}"></span></p>
</body>
</html>
