<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Usuario Locadora</title>
</head>
<body>
    <h1>List of Usuario Locadora</h1>
    <table>
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the list of UsuarioLocadora and display their information -->
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.cnpj}"></td>
                <td th:text="${usuario.cidade}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
